<div class="container animated fadeIn">
  <%# sending POST/Create request to the page /cheeses %>
  <form method="POST" action="/popuplisting/<%= popup._id %>">

    <%# REQUIRED FIELD %>
    <%# THIS IS OUR _METHOD in BODY PARSER FUNCTION IN INDEX.JS %>
    <input type="hidden" name="_method" value="PUT">


    <div class="field">
      <label class="label">Pop-Up Name:</label>
      <div class="control">
        <input class="input" name="title" type="text" placeholder="Name" required minlength="2" value="<%= popup.title %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Date:</label>
      <div class="control">
        <input class="input" name="date" type="text" placeholder="date" required minlength="2" value="<%= popup.date %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Describe your listing in two words!</label>
      <div class="control">
        <input class="input" name="twoWords" type="text" required minlength="2" value="<%= popup.twoWords %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Event type</label>
      <div class="control">
        <div class="select">
          <select name="type">
            <option value="Food and drink">Food and drink</option>
            <option value="Art">Art</option>
            <option value="Music">Music</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field" id="locationField">
      <input type="hidden" name="lat">
      <input type="hidden" name="lng">
      <label class="label">Address:</label>
      <div class="control">
        <input id="autocomplete" name="loc" class="input" type="text" required value="<%= popup.loc %>">
      </div>
    </div>



    <div class="field">
      <label class="label">A short blurb about the event:</label>
      <div class="control">
        <textarea class="textarea" name="description" placeholder="(380 chars max)" maxlength="380" value=""><%= popup.description %></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8C7HRroI6BaALKHa6EHMc_BDYLIB5kUA&libraries=places&callback=initAutocomplete" async defer></script>
