<section class="hero is-medium index hero-head animated fadeIn is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white"><span class="opacity">latest popups in london</span></h1>
    </div>
  </div>
</section>

<main class="container">

  <div class="columns has-text-centered">
    <div class="column">
      <h2 class="subtitle indextitle">The number one social networking site for London's popups!  Sign up to share events, upload photos and review!</h2>
  </div>
</div>


<div class="columns has-text-centered">
  <div class="column">
    <form>
      <div class="select is-blue is-rounded is-large">
      <select name="type">
        <% types.forEach(type => { %>
          <option<% if(type === selectedType) { %> selected <% } %>><%= type %></option>
        <% }) %>
      </select>
      <button>Go</button>
    </div>
    </form>
  </div>
</div>

  <div class="columns is-multiline">

    <% popups.forEach(popup => { %>
    <div class="column is-one-third-desktop is-half-tablet animated fadeInUp">
    <a href="/popuplisting/<%= popup._id %>">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="<%= popup.image %>" alt="<%= popup.image %>">
        </figure>
      </div>

      <div class="card-content fade">
            <h4><%= popup.title %></h4>
            <h5><%= popup.type %></h5>
            <p><strong>"<%= popup.twoWords %>"</strong></p>
            <p><em>posted by user: ABC <%= popup.user %></em></p>
            <a class="is-text-primary">read more</a>

      </div>
    </div>
    </a>
    </div>

    <% }) %>
  </div>
</main>
