
<script>
function initialize(){
      console.log(<%= popup.lat %>);
     var myLatlng = new google.maps.LatLng(<%= popup.lat %>,<%= popup.lng %>);
     var myOptions = {
         zoom: 17,
         center: myLatlng,
         mapTypeId: google.maps.MapTypeId.ROADMAP
         }
      map = new google.maps.Map(document.getElementById("map"), myOptions);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
      title:"Fast marker"
     });
}
google.maps.event.addDomListener(window,'load', initialize);

</script>


<%# HEADER IMAGE %>
<section class="hero is-medium index hero-head animated fadeIn is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white"><span class="opacity"><%= popup.title %></span></h1>
    </div>
  </div>
</section>



<%# ROW OF HELPFUL ICONS/INFO %>
<div class="container">


  <div class="columns has-text-centered iconsrow">
    <div class="column">
      <i class="fas fa-calendar-alt fa-3x has-text-grey-light"></i>
      <h5 class="has-text-grey-light">date</h5>
      <p class="has-text-primary"><%= popup.formattedDate %></p>
    </div>

    <div class="column">
      <i class="fas fa-pound-sign fa-3x has-text-grey-light"></i>
      <h5 class="has-text-grey-light">cost</h5><p class="has-text-primary"><%= popup.cost %></p></div>

    <div class="column">
      <i class="fas fa-glass-martini fa-3x has-text-grey-light"></i>
      <h5 class="has-text-grey-light">type</h5>
      <p class="has-text-primary"><%= popup.type %></p>
    </div>

    <div class="column">
      <i class="fas fa-map-marker fa-3x has-text-grey-light"></i>
      <h5 class="has-text-grey-light">address<span id="address"></h5>
      <p class="has-text-primary"><%= popup.loc %></p>
    </span></div>

  </div>


<%# EVENT SUBTITLE %>

  <div class="columns">
    <div class="column has-text-centered title_border ">
      <h2 class="subtitle is-centered">Event Listing:</h2>
    </div>
  </div>
    <%# INTRO AND NEW LISTING IMAGE %>
  <div class="columns ugc_row mobile">
    <div class="column">
      <h5 class="has-text-warning"><i class="fas fa-star"></i>&nbsp;<%= popup.comments.length %>  member reviews!</h5>
      <h3>"<%= popup.twoWords %>"</h3>
      <h4><em class="has-text-grey-light">added by user <span class="has-text-primary"><%= popup.user.username %></span>:</em></h4>

      <p><%= popup.description %></p>


        <%# EDIT AND DELETE BUTTONS %>
      <br />
      <% if(locals.isAuthenticated) { %>
        <div class="columns is-gapless is-0 is-multiline is-half">
          <div class="column is-one-quarter">
            <a href="/popuplisting/<%= popup._id %>/edit" class="button is-black is-outlined is-pulled-left">edit your listing...</a>

          </div>

              <div class="column is-one-quarter">
                <form method="POST" action="/popuplisting/<%= popup._id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="button is-danger is-outlined">event over? delete it.</button>
                </form>
              </div>
          </div>
        <% } %>

      </div>

      <div class="column">
        <img src="<%= popup.image %>" />
      </div>
    </div>


    <% if(locals.isAuthenticated !== true) { %>
        <h5 class="has-text-centered"><a href="/login">Login to leave a review!</a></h5>
    <% } %>


    <div class="columns map_row">
      <div class="column">
        <div id="map"></div>
      </div>
    </div>



        <%# LOGGED IN FUNCTION - UPLOAD AN IMAGE %>

        <% if(locals.isAuthenticated) { %>
        <div class="columns">
          <div class="column has-text-centered title_border">
                <h2 class="subtitle is-centered">Upload an Image</h2>
            </div>
        </div>


        <div class="columns">
          <div class="column has-text-centered galleryimage">
            <% if(popup.galleryImage[0]){ %>
              <img src="<%= popup.galleryImage[0].galleryImage %>" />
            <% } %>
          </div>
        </div>
        <% } %>




        <% if(locals.isAuthenticated) { %>
        <div class="columns">
          <div class="column has-text-centered">

          <form method="POST" action="/popuplisting/<%= popup._id %>/gallery">
            <label class="label"><p>Upload an image of your recommended event:</p></label>
            <div>
              <input id='imageUpload' type="hidden" name="galleryImage" required />
                <a class="button is-large has-text-centered is-primary is-outlined" id="upload">
                  <span class="icon is-medium"><i class="fas fa-camera-retro"></i></span>
                  <span>select your photos</span>
                </a>
              <br /><button class="button is-primary">upload photo</button>
            </div>
          </form>
          </div>
          </div>

        <% } %>




        <%# ROW 4 = User Comments %>

    <% if(locals.isAuthenticated) { %>
      <div class="columns mobile">
        <div class="column">


          <h4>Member reviews:</h4>

            <div class="columns">
              <div class="column">

               <hr />
                <ul class="comments">
                  <% popup.comments.forEach(comment => { %>

                  <li>

                  <div class="box">

                      <% if (comment.isOwnedBy(locals.currentUser)) { %>
                      <form class="delete" method="POST" action="/popuplisting/<%= popup._id %>/comments/<%= comment._id %>">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="delete is-right">x</button>
                      </form>
                      <% } %>

                      <article class="media">

                        <div class="media-left">
                          <figure class="image is-64x64">
                            <i class="far fa-smile fa-3x"></i>
                          </figure>
                        </div>

                        <div class="media-content">
                          <div class="content">
                          <% if(comment.user) { %>
                            <strong><p>Posted by member: <%= comment.user.username %></p></strong>
                            <strong><p>Date posted: <%= comment.formattedDate %></p></strong>
                          <% } %>
                              <p>Rated <%= comment.rating %>/5 stars!</p>
                              <p style="border-top: 1px solid #e4e4e4;"><%= comment.content %></p>
                          </div>
                        </div>

                      </article>
                  </div>
                  </li>
                  <% }) %>
                  </ul>
                </div>
                </div>
              </div>
              </div>
            <% } %>

              <div class="columns mobile">
                  <div class="column">

                  <% if(locals.isAuthenticated) { %>

                  <h5> Click the stars to rate this event (1-5)!  And leave a comment!</h5>
                  <form method="POST" action="/popuplisting/<%= popup._id %>/comments">


                  <fieldset class="rating">
                
                      <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                      <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                      <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                      <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                  </fieldset>


                    <textarea class="textarea" name="content"></textarea>
                    <br />
                    <button id="reviewButton" class="button is-primary">submit</button>

                  </form>
                  </div>
                              <% } %>
                  </div>
          </div>


</div>
