
<script>
function initialize(){
      console.log(<%= popup.lat %>);
     var myLatlng = new google.maps.LatLng(<%= popup.lat %>,<%= popup.lng %>);
     var myOptions = {
         zoom: 17,
         center: myLatlng,
         mapTypeId: google.maps.MapTypeId.ROADMAP
         }
      map = new google.maps.Map(document.getElementById("map"), myOptions);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
      title:"Fast marker"
     });
}

google.maps.event.addDomListener(window,'load', initialize);



</script>





<div class="container">

  <%# ROW ONE %>
  <div class="columns">
    <div class="column">
      <h3><%= popup.title %></h3>
      <%# <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><p>12 reviews</p> %>
      <div class="rw-ui-container"></div>
      <%# <div class="rw-ui-container" data-title="my awesome rating"></div> %>
      <h4>Added by user ABC</h4>
      <p><%= popup.description %></p>
      lat:<%= popup.lat %>
      long:<%= popup.lng %>
    </div>

    <div class="column">
      <div id="map">

      </div>
    </div>
  </div>

  <%# ROW 2 %>


  <div class="columns has-text-centered">
    <div class="column"><i class="fas fa-calendar-alt fa-3x"></i><h4>When</h4><%= popup.when %></div>
    <div class="column"><i class="fas fa-building fa-3x"></i><h4>Where</h4><%= popup.where %></div>
    <div class="column"><i class="fas fa-glass-martini fa-3x"></i><h4>Type</h4><%= popup.type %></div>
    <div class="column"><i class="fas fa-map-marker fa-3x"></i><h4>Address</h4><span id="address"><%= popup.loc %></span></div>
  </div>

  <%# ROW 3 = User Genereated Images %>

  <div class="columns">
    <div class="column">
      <img src="<%= popup.image %>" alt="<%= popup.image %>">

      <a class="button is-large has-text-centered is-primary" id="upload">
        <span class="icon is-medium"><i class="fab fa-github"></i></span>
        <span>Upload your photos</span>
      </a>

    </div>
  </div>

  <%# ROW 4 = Return uploaded images %>

  <div class="columns">
    <div class="column">
      <img id="gallery" src="" />
    </div>
  </div>


    <%# ROW 4 = User Comments %>

  <div class="columns">

    <div class="column">



  <% if(locals.isAuthenticated) { %>
    <div class="columns is-gapless is-0 is-multiline">
      <div class="column">
        <a href="/popuplisting/<%= popup._id %>/edit" class="button is-primary is-pulled-left">Edit Pop-Up</a>
      </div>

      <div class="column">
      <form method="POST" action="/popuplisting/<%= popup._id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-danger">Delete</button>
      </form>
      </div>
    </div>

    <hr />

        <ul class="comments">
          <% popup.comments.forEach(comment => { %>
            <li>
            <div class="box">

            <% if (comment.isOwnedBy(locals.currentUser)) { %>
              <form class="delete" method="POST" action="/popuplisting/<%= popup._id %>/comments/<%= popup._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="delete">x</button>
              </form>
              <% } %>

              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <%= comment.content %>
                    </p>
                      <% if(comment.user) { %>
                        <strong><%= comment.user.username %></strong>
                      <% } %>

                  </div>
                </div>
              </article>
              </div>
            </li>
          <% }) %>
        </ul>

        <form method="POST" action="/popuplisting/<%= popup._id %>/comments">
        <textarea class="textarea" name="content"></textarea>
        <button class="button is-primary">Submit</button>
        </form>

  <% } %>
    </div>
  </div>
</div>
